@model IEnumerable<ApiGetOrders.Models.Response.Orders>

@{
    ViewData["Title"] = "Boom";
}

<h1>Boom</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>





@*@{int i = 0;
    @foreach (var item in Model)
    {
        <table style="border: 1px dashed black; padding: 3px;">
            <thead style="border: 1px solid black">
                <tr>
                    <th style="border-right: 1px solid black">Наименование заказа</th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Title)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border-right: 1px solid black">Order Info</td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        ID заказа
                                    </td>
                                    <td>

                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        ID заказчика
                                    </td>
                                    <td>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Test" asp-route-id="@item.UserId">  @Html.DisplayFor(modelItem => item.UserId)</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>@i</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        i = i + 1;*@
}
}